<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user role form</title>
</head>
<body >
    <div>

    <form method="POST" action="{% url 'flghts_order_system:user_role' %}" enctype="multipart/form-data">

    {% csrf_token %}
    
    <label for="id_role_name">Role Name:</label>
    <input type="text" name="role_name" id="id_role_name" required />

    <label for="id_role_logo">Role Logo:</label>
    <input type="file" name="role_logo" id="id_role_logo" required />


    <input type="submit" value="send" />
    </form>
    </div>

</body>
</html>